:root {
  --color-bg-light: #fff;
  --color-text-light: #111;
  --color-bg-dark: #121212;
  --color-text-dark: #eee;

  --color-primary: #4f46e5;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}



body.dark {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 1rem;
}
