.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-primary);
  color: white;
}

.title {
  cursor: pointer;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navList a {
  color: white;
  font-weight: bold;
}
